.about {
    background: #8b4552 url(../img_about/bg_about.jpg) no-repeat center top / cover;
    padding: 85px 0;
}

.about__title {
    color: #fff;
    margin-bottom: 20px;

}

.about__text {
    color: #fff;
    line-height: 34px;
    text-indent: 30px;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 5px;
}

.trust {
    background: #fff;
    padding: 80px 0;
}

.trust__block{
    margin-top: 60px;
}

.trust__block_title {
    margin: 40px 0 21px 0;
}

.trust__block_text {
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
}



 /* * {
    outline: 1px solid red;
 }
 */

/* Медиа-запросы*/

 @media screen and (max-width: 1200px) {
    .about {
        background-attachment: fixed;
    }
}

@media screen and (max-width: 992px) {
    
 }

@media screen and (max-width: 760px) {
    
   
}

@media screen and (max-width: 576px) {

    .container {
        width: 100%;
    }

}  

@media screen and (max-width: 520px) {
    
}    

@media screen and (max-width: 410px) {
    .about__title {
        color: #fff;
        margin-bottom: 12px;
        font-size: 18px;
    }

    .about__text {
        color: #fff;
        line-height: 25px;
        font-size: 13px;
    }
    
} 